<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--<connectionStrings>
    <add name="DBCSJobPortal" connectionString="workstation id=myjobdatabase.mssql.somee.com;packet size=4096;user id=aalif_khan_SQLLogin_1;pwd=rd9zkbvv4k;data source=myjobdatabase.mssql.somee.com;persist security info=False;initial catalog=myjobdatabase"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <connectionStrings>
    <add name="DBCSJobPortal" connectionString="Data Source=TUNTUNMYINT;Initial Catalog=jobportal;Integrated Security=True;Trust Server Certificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength ="2097151"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
